<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ChallengeSystemDB"
          providerName="System.Data.SqlClient"
          connectionString="Server=d70ab7c0-1ad7-4128-8441-a54c00f12e45.sqlserver.sequelizer.com;Database=dbd70ab7c01ad741288441a54c00f12e45;User ID=bqwavzwmgtuskznc;Password=cPFthekffbYUKopHompqcs2eaWbfSCzwm2wpmDu7AW3Xfh2aEnDnNodRWAssdfvK;"/>
  </connectionStrings>
</configuration>
